:global {
  #DMA-map{
    .DMA-img-operation{
      position: absolute;
      right: 35px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #cccccc;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      .anticon{
        margin-top: 7px;
      }
    }
    .DMA-img-enlarge{
      bottom: 30px;
    }
    .DMA-img-reduce{
      bottom: 80px;
    }
    .DMA-img-container{
      background: #000;
      width: 100%;
      overflow-y: scroll;
      overflow-x: scroll;
      position: relative;

      .DMA-img-wrap{
        position: relative;
        .DMA-node{
          position: absolute;
          border-radius: 50%;
          cursor: pointer;
        }
        .DMA-rect{
          position: absolute;
          cursor: pointer;
        }
        .DMA-img{
        }
      }

    }

  }
  .DMADetail{
    table{
      border: 1px solid #ddd;
      width: 100%;
      max-width: 100%;
      thead{
        font-weight: bold;
        background: rgb(240, 240, 240);
      }
      tbody{
        tr{
          &:nth-of-type(even){
            background: #f9f9f9;
          }
        }
      }
      td{
        padding: 8px;
        overflow: hidden;
        border: 1px solid #ddd
      }
    }
  }
}
