:global {
  #DMA-map{
    .DMA-img-container{
      width: 100%;
      overflow-y: scroll;
      overflow-x: scroll;
      .DMA-img-wrap{
        position: relative;
        .DMA-node{
          position: absolute;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          cursor: pointer;
        }
        .DMA-node1{
          left: 627px;
          top: 512px;
        }
        .DMA-node2{
          left: 783px;
          top: 610px;
        }
        .DMA-node3{
          left: 498px;
          top: 685px;
        }
        .DMA-node4{
          left: 619px;
          top: 720px;
        }
        .DMA-node5{
          left: 419px;
          top: 820px;
        }
        .DMA-node6{
          left: 638px;
          top: 816px;
        }
        .DMA-node7{
          left: 582px;
          top: 909px;
        }
        .DMA-node8{
          left: 659px;
          top: 1020px;
        }
        .DMA-node9{
          left: 870px;
          top: 1076px;
        }
        .DMA-node10{
          left: 690px;
          top: 1212px;
        }
        .DMA-node11{
          left: 772px;
          top: 758px;
        }
        .DMA-node12{
          left: 840px;
          top: 900px;
        }
        .DMA-node13{
          left: 1074px;
          top: 852px;
        }
        .DMA-img{
        }
      }

    }

  }
}
