@import "~antd/lib/style/themes/default.less";

.main{
  padding: 24px;
  .topItem{
    height: 100px;
    margin-bottom: 24px;
    &.topItem1{
      background: #40c4ff;
    }
    &.topItem2{
      background: #ffe0b4;
    }
    &.topItem3{
      background: #26a69a;
    }

    &.topItem4{
      background: #ef5350;
    }

  }
}
