.main{
  padding: 12px;
  :global {
    .ant-collapse-header{
      padding: 6px 0 6px 6px!important;
    }
    .ant-card-head{
      padding: 0 6px !important;
      min-height: auto !important;
    }
    .ant-card-head-title{
      padding: 8px 0 !important;
    }
  }

  .topItem{
    height: 100px;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    .count{
      font-weight: bold;
      text-align: center;
      font-size: 28px;

    }
    .explain{
      font-size: 18px;
      text-align: center;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100px;
      height: 8px;
      border-bottom: 1px dotted #000;
      background: #ffffff;
      right: -25px;
      top: 0;
      transform: rotate(45deg);

    }
    &.topItem1{
      background: #40c4ff;
    }
    &.topItem2{
      background: #26a69a;
    }
    &.topItem3{
      background: #63869e;
    }

    &.topItem4{
      background: #ef5350;
    }

  }
}
