@import "~antd/lib/style/themes/default.less";

.bce_content {
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
  transition: all .2s;
  min-width: 800px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  left: 180px;
  background: #FFF;
  z-index: 4;
  border-bottom: 1px solid #E8ECF0;
  transition: all .2s;
  padding: 0 !important;
}

.main_area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E8ECF0;
  margin: 0;
  padding: 0;
  clear: both;

  .main {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    margin-top: 0 !important;
    background-color: #E8ECF0;

  }
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
  }
  h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

:global(.ant-layout-sider-collapsed) .logo {
  padding-left: 24px;
  > a {
    width: 32px;
  }
}

.trigger {
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: all .3s;
  padding: 0 24px;
  &:hover {
    background: @primary-1;
  }
}

@media screen and (max-width: @screen-xs) {
  .trigger {
    display: none;
  }
}

.right {
  float: right;
  height: 100%;
  .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all .3s;
    height: 100%;
    > i {
      font-size: 16px;
      vertical-align: middle;
    }
    &:global(.ant-popover-open),
    &:hover {
      background: @primary-1;
    }
  }
  .search {
    padding: 0;
    margin: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin: 20px 8px 20px 0;
      color: #fff;
      background: @primary-color;
      vertical-align: middle;
    }
  }
}

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    width: 160px;
  }
}

:global {
  .ant-layout {
    //overflow-x: hidden;
  }
}

.sider {
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  position: fixed;
  z-index: 10;
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
}

.tabs {
  :global {
    .ant-tabs-bar {
      margin-bottom: 0 !important;
       .ant-tabs-tab:nth-child(2){
         .anticon-close{
         }
      }
    }
  }
}
