@import "~antd/lib/style/themes/default.less";

.header {
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  position:fixed;
  z-index:999;
  :global {
    .logo {
      float: left;
      font-size: 22px;
      color: #ffffff;
      margin: 14px 10px 0 24px;
      a{
        text-decoration: none;
        &:hover{
          color: #ffffff;
        }
      }
    }

  }
}
.layoutContainer{
  margin-top: 68px;
}
.account {
  .avatar {
    margin: 18px 8px 18px 0;
    color: #fff;
    background: @primary-color;
    vertical-align: middle;
    text-align: center;
    :global{
      .anticon{
        margin-right: 0;
      }
    }
  }
}

