:global{
  .padding-6 .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td,
  .padding-6 .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td{
    padding:4px !important; ;
  }
  .error-analysis,.tableListForm{
    .ant-badge-status-dot{
      width: 10px;
      height: 10px;
    }
  }
}
